.todo-input{
    display: flex;
    align-items: baseline;
    justify-content:center;
}
.todo-input button{
    margin-left: 35px;
}
.todo-list-item{
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
}

.todo-list-icon:hover{
    color:tomato;
    cursor: pointer;
}