
    <div class="todo-input">
        <mat-form-field style="width: 100%;">
            <input matInput [(ngModel)]="nitem" placeholder="Bunu Yap !" >
            <mat-hint  [hidden]="!warn['nitem']"><span style="color: tomato;">Görev Giriniz !</span></mat-hint>
        </mat-form-field>
        <button (click)="addItem()" mat-mini-fab color="primary"><mat-icon aria-hidden="false">send</mat-icon></button>
    </div>
    <br>
    <mat-divider></mat-divider>
    <mat-list>
        <mat-list-item   id="{{item.id}}" *ngFor="let item of titems;let indexOfelement=index;">
            <div class="todo-list-item">
                <mat-checkbox [checked]="item.selected" (change)='itemEvent("update",indexOfelement,$event.checked)' class="example-margin">{{item.title}}</mat-checkbox>
                <mat-icon (click)='itemEvent("delete",indexOfelement)' class="todo-list-icon" aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
            </div>
        </mat-list-item>
    </mat-list>
