body{
    background-color: whitesmoke;
}

a:link { 
    text-decoration: none; 
} 
a:hover { 
    text-decoration: none; 
} 
#footer_container{
    justify-content: center;
    display: flex;
}
#header_container{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page_container{
    height: 70vh;
}
