

.login-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}

.login-card .card{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.login-item{
    padding-top: 15px;
}
.login-card button{
   margin-top:15px
}

@media only screen and (max-width: 600px) {
    .login-card .card{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
}