.form_div{
    height:60vh; overflow: auto;padding:10px
}
.table_btns {
    display: flex;
    justify-content: center;

    display: flex;
    align-items: baseline;
}

.table_btns button {
    margin: 1px;
}

#btn_table_list {
    max-width: 40%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: inherit;
}
#btn_table_list .current{
    background-color: tomato;
    color: white;
}