.div_header{
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 50%;
}
.div_header col{
    padding: 1px;
}
.header_btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.header_btn span{
    color: black;
}
.header_btn i{
    color: tomato;
    font-size: 55px;
}

.header_btn span{
    margin-top: 15px;
}

.head_selected,
.header_btn:hover{
    cursor: pointer;
    border: 1px solid;
    border-width: 5px 5px;
    border-radius: 10px;
    border-color:tomato;
    margin:-5px;
}

.header_btn > * {
    pointer-events: none;
}

@media only screen and (max-width: 1024px) {
    .div_header{
        width: 75%;
    }
}

.disabled_area{
    
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}