.div_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.div_main button{
    margin-top: 15px;
    height: 60px;
}