<mat-toolbar>
    <section class="menu-navs">
        <div style="padding-left:5px">
            <button mat-button routerLink="/admin"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></button>
            <button mat-button color="primary" routerLink="/admin/history">Todo History</button>
        </div>
  </section>
  <span class="example-spacer"></span>
  <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>


</mat-toolbar>