.address_box{
    width: inherit;
    height: 200px;
    border-radius: 5px;
}
.address_box.main{ 
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address_box > * { pointer-events: none;}

.address_box:not(.main):hover {
    background: whitesmoke;
    cursor: pointer;
}